.header {
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding-top: 1px;
    padding-bottom: 10px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    background-image: url('banner.jpg');
    background-position: center;
}

.footer {
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
    left: 0px;
    bottom: 0px;
}

.footer a {
    color: black;
    text-decoration: none;
}

.Block {
    font-family: 'Megrim', cursive;
    /* margin: 50px; */
    background-color: #F5F2E7;
    color: black;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 50px;
    font-size: 50px;
}

.Main_Body {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-left: 100px;
    margin-right: 100px;
}

.Main_Body_List {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: white;
}

#links {
    color: #3B6AB8;
    text-decoration: none;
}

#links:hover {
    color: #5687D8;
    text-decoration: underline;
}

#insta:hover {
    color: #eb4767;
    text-decoration: none;
}

#yt:hover {
    color: #E02F24;
    text-decoration: none;
}

#twitter:hover {
    color: #13AD96;
    text-decoration: none;
}

.header h1 {
    font-family: 'Libre Barcode 128 Text', cursive;
    font-size: 80px;
}

.header a:link {
    color: inherit;
    text-decoration: none;
    padding-left: 50px;
    padding-right: 50px;
}

.header a:visited{
    color: inherit;
    text-decoration: none;
    padding-left: 50px;
    padding-right: 50px;
}

.header a:hover {
    color: #BDBDBD;
    background-color: black;
    padding: 10px;
    text-decoration: none;
    padding-left: 50px;
    padding-right: 50px;
}

.header a:active {
    color: inherit;
    text-decoration: none;
    padding-left: 50px;
    padding-right: 50px;
}

#text {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.header image {
    width: 1540px;
    height: 200px;
    object-fit: cover;
    margin-left: -10px;
    object-position: 0px -200px;
}

body {
    background-color: #08070f;
    color: white;
    max-width: 100%;
    overflow-x: hidden;
}

#table {
    border-color: white;
    visibility: visible;
    border: 1px solid white;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

td, th {
    padding: 20px;
}

.list {
    color: white;
    list-style-position: inside;
    margin-right: 40px;
}

#image1 {
    text-align: center;
    height: 500px;
    width: 750px;
    margin-bottom: 100px;
    border-radius: 50px;
}

#image2 {
    text-align: center;
    height: 397px;
    width: 705px;
    margin-bottom: 100px;
    border-radius: 50px0.;
}